* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
  
body {
    font-family: "Raleway", Arial;
    font-size: 1.8em;
}

#navbar {
    background-color: rgb(248, 77, 77, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    padding: 20px 20px;
}
  
li {
    display: inline;
}
  
ul {
    list-style-type: none;
}

a {
    color: white;
}
  
a:link {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: lighter;
    padding: 25px 30px;
}
  
#navbar a:hover {
    background-color: red;
    transition: background-color 0.4s ease-out;
}

section#welcome-section {
    background: rgb(246, 211, 211);
    background: linear-gradient(
      324deg,
      rgba(246, 211, 211, 1) 37%,
      rgba(254, 183, 254, 1) 90%
    );
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3,
h1 {
  text-align: center;
  color: white;
  margin: 5px;
}

h1 {
  font-size: 3.8em;
  font-weight: bold;
}

h3 {
  font-size: 2.8em;
  font-weight: lighter;
}

section#projects {
    background: rgb(255, 74, 106);
    background: linear-gradient(
      330deg,
      rgba(255, 74, 106, 1) 15%,
      rgba(255, 192, 203, 1) 39%
    );
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
h1.projects {
    padding-top: 80px;
}
  
h1 u {
    border-bottom: 1px solid white;
    padding: 50px 20px 3px 20px;
    text-decoration: none;
  
    font-size: 0.8em;
    font-weight: lighter;
}